.thread-detail {
  border-style: solid;
  border-width: 2;
  color: rgb(163, 130, 255);
  margin: 20px;
  padding: 20px;
}

.thread-table {
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.form-input {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(173, 173, 173);
}

input {
  margin: 10px;
  width: 100px;
  align-items: center;
  color: brown;
}

label {
  color: rgb(113, 113, 255);
}
